<% layout("/layouts/boilerplate") %>

<h1>Edit campground</h1>
<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      value="<%=campground.title  %> "
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      value="<%=campground.location  %> "
    />
  </div>
  <button>Edit campground</button>
</form>
<footer>
  <a href="/campgrounds/<%=campground._id %>">Back to campground</a>
  <a href="/campgrounds">Back to camp list</a>
</footer>
